# AWS SAM
.aws-sam/
samconfig.toml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Response files
response.json
*.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
